# SPDX-FileCopyrightText: 2025 BlueZoo developers
# SPDX-License-Identifier: GPL-2.0-only

name: Check Conformance with BlueZ

on:
  push:
  pull_request:
    branches:
      - master
  schedule:
    - cron: '45 6 * * 0'

jobs:

  conformance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: bluez/bluez
          path: bluez
      - name: Sync D-Bus Errors
        run: |
          scripts/bluez-errors.py \
            --output=bluezoo/exceptions.py \
            bluez/doc/org.bluez.*.rst
      - name: Sync D-Bus Interfaces
        run: |
          mv INTERFACES.md bluezoo/interfaces
          scripts/bluez-interfaces.py --verbose \
            --output-dir=bluezoo/interfaces \
            bluez/doc/org.bluez.*.rst
      - name: Sync INTERFACES.md
        run: mv bluezoo/interfaces/INTERFACES.md .
      - name: Check for uncommitted changes
        run: git diff --exit-code
