name: Upload Python Package to PyPI

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    if: github.repository_owner == 'Samsung'
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/bluezoo
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: >
            python3-build
      - name: Build
        run: python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
